.visual-debugger {

  .checkbox-toggle-wrapper {
    position: relative;
  }

  // Checkbox toggle.
  .checkbox-toggle {
    cursor: pointer;
    height: var(--#{$prefix}checkbox-toggle--height);
    opacity: var(--#{$prefix}checkbox-toggle--opacity);
    position: var(--#{$prefix}checkbox-toggle--position);
    width: var(--#{$prefix}checkbox-toggle--width);

    + .item-activated,
    ~ .item-deactivated {
      display: none;
    }

    &:checked + .item-activated,
    &:not(:checked) ~ .item-deactivated {
      display: inline-block;
    }

    &:not(:checked) + .item-activated,
    &:checked + .item-deactivated {
      display: none;
    }
  }
}
