/**
  * Global.
  */

// Conf
$z-index--base: 10000;

// Colors
$color--shadow: gray;
$color--object-type--page: #ffc;
$color--object-type--region: yellow;
$color--object-type--block: orange;
$color--object-type--field: green;
$color--pre: black;

// Transparency
$transparency--shadow: .2;

// Shadow.
$shadow--blur: 15px;
$shadow--full: 0 0 $shadow--blur 0 rgba($color--shadow, $transparency--shadow), 0 0 $shadow--blur 0 rgba($color--shadow, $transparency--shadow);

// Font
$icomoon-font-path: "../fonts/visual-debugger-icons/fonts";
$icon-font-size: 1.15rem;
$icon-font-size--large: 1.75rem;

/**
 * Instance layer.
 */

// Conf
$z-index--instance: $z-index--base + 1;

// Colors.
$color--instance-background: yellow;
$color--instance-background--hover: blue;
$color--instance-border: gray;

// Transparency.
$transparency--instance-background: .05;
$transparency--instance-background--hover: .2;

/**
 * Controller layer.
 */

// Conf
$controller--gutter: 30px;
$controller--max-width: 30%;
$controller--min-height: 100px;
$controller--width: 400px;
$z-index--controller: $z-index--base + 1000;
$controller--font-size--title: 1.25rem;
$controller--font-size: .875rem;

// Colors.
$color--instance-background: yellow;
$color--instance-background--hover: blue;
$color--instance-shadow: gray;
$color--instance-border: gray;
