@import "base/variables";

.visual-debugger {

  // Controller.
  &--controller-layer {
    background-color: white;
    border-radius: $controller--border-radius;
    box-shadow: $shadow--full;
    font-size: $controller--font-size;
    max-width: $controller--max-width;
    min-height: $controller--min-height;
    padding: $controller--gutter;
    position: fixed;
    right: $controller--gutter;
    top: $controller--gutter;
    width: $controller--width;
    z-index: $z-index--controller;

    h3 {
      font-size: $controller--font-size--title;
    }

    input[type="checkbox"] {
      cursor: pointer;
      height: 1.5rem;
      width: 1.5rem;
    }

    label {
      cursor: pointer;
    }
  }

  // Base layer.
  &--base-layer {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;
    // display: none;

    &.deactivated {
      display: none;
      pointer-events: none;
    }
  }

  // Instance layer.
  &--instance-layer {
    background-color: rgba($color--instance-background, $transparency--instance-background);
    background-blend-mode: difference;
    border: solid 1px $color--instance-border;
    position: absolute;
    transition: .25s all;

    &:hover {
      background-color: rgba($color--instance-background--hover, $transparency--instance-background--hover);
      box-shadow: $shadow--full;
    }
  }

  .object-type {
    &--page {
      background-color: rgba(#ffc, $transparency--instance-background);
    }

    &--block {
      background-color: rgba(green, $transparency--instance-background);
    }
  }
}
