@import "base/variables";
@import "base/types";
@import "base/icons";
@import "../../fonts/visual-debugger-icons/style.scss";

%instance-selected {
  opacity: 1;
}

.visual-debugger {

  // Controller.
  &--controller-layer {
    background-color: white;
    border-radius: 0;
    bottom: 0;
    box-shadow: $shadow--full;
    font-size: $controller--font-size;
    max-width: $controller--max-width;
    min-width: $controller--min-width;
    padding: $controller--gutter;
    position: fixed;
    right: 0;
    top: 0;
    transition: right .25s;
    z-index: $z-index--controller;

    h1, h2, h3, h4 {
      margin-bottom: $controller--gutter * .5 !important;
      margin-top: $controller--gutter * .5 !important;
    }

    h3 {
      font-size: $controller--font-size--title;
    }

    input[type="checkbox"] {
      cursor: pointer;
      height: 1.5rem;
      width: 1.5rem;
    }

    label {
      cursor: pointer;
    }

    pre {
      border: solid 1px $color--instance-border;
      margin: 0;
      overflow: hidden;
      padding-left: $controller--gutter * .5;
      padding-right: $controller--gutter * .5;
      transition: background-color .25s;

      &:hover {
        background-color: rgba($color--instance-background--hover, $transparency--instance-background--hover);
        box-shadow: $shadow--full;
      }
    }

    &--activation-form {
      background-color: var(--#{$prefix}color--white);
      margin-left: $controller--gutter * -1;
      margin-top: $controller--gutter * -1;
      padding: $controller--gutter * .5;
      transition: background-color var(--#{$prefix}transition-speed), transform var(--#{$prefix}transition-speed);

      body.visual-debugger--deactivated & {
        background-color: var(--#{$prefix}color--white);
        transform: translateX(-200px);
      }
    }
  }

  // Base layer.
  &--base-layer {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;
    // display: none;

    body.visual-debugger--deactivated & {
      display: none;
      pointer-events: none;
    }
  }

  // Instance layer.
  &--instance-layer {
    background-color: rgba($color--instance-background, $transparency--instance-background);
    background-blend-mode: difference;
    border: solid 1px $color--instance-border;
    position: absolute;
    transition:
      background-color var(--#{$prefix}transition-speed),
      margin var(--#{$prefix}transition-speed),
      width var(--#{$prefix}transition-speed),
      height var(--#{$prefix}transition-speed),
      top var(--#{$prefix}transition-speed),
      left var(--#{$prefix}transition-speed);

    input[type='checkbox'] {
      margin: $controller--gutter * .5;
      pointer-events: none;
      transition: .25s all;
    }

    &:hover {
      background-color: rgba($color--instance-background--hover, $transparency--instance-background--hover);
      box-shadow: $shadow--full;

      input[type='checkbox'] {
        @extend %instance-selected;
      }
    }

    &--checked {
      input[type='checkbox'] {
        @extend %instance-selected;
      }
    }

    &--unchecked {
      input[type='checkbox'] {
        opacity: 0;
      }
    }
  }

  &--selected-element-layer {

    // Info.
    &--info {
      .tag {
        background-color: var(--#{$prefix}color--object-type);
        color: $color--white;
        display: inline-block;
        padding: $controller--gutter * .25;
      }
    }

    // Suggestions.
    &--suggestions {
      .suggestion {
        align-items: center;
        column-gap: $controller--gutter * .25;
        display: flex;
        flex-direction: row;
        margin-bottom: $controller--gutter * .25;
        margin-top: $controller--gutter * .25;

        button {
          background-color: transparent;
          border: 0;
          cursor: pointer;
          transition: transform var(--#{$prefix}transition-speed);

          &:hover {
            transform: scale(1.175);
          }
        }
      }
    }
  }

  .object-type {
    &--page {
      background-color: rgba(#ffc, $transparency--instance-background);
    }

    &--block {
      background-color: rgba(green, $transparency--instance-background);
    }
  }

  // Click-drag button.
  .click-drag-button {
    background-color: var(--#{$prefix}click-drag-button--background-color);
    border: var(--#{$prefix}click-drag-button--border);
    border-radius: 50%;
    cursor: not-allowed;
    height: var(--#{$prefix}click-drag-button--size);
    left: calc(#{var(--#{$prefix}click-drag-button--size)} * -0.5);
    opacity: 0.5;
    position: absolute;
    top: 50%;
    transform-origin: center center;
    transform: translateY(-50%);
    width: var(--#{$prefix}click-drag-button--size);
    z-index: var(--#{$prefix}z-index--click-drag-button);

    body.visual-debugger--activated & {
      background-color: var(--#{$prefix}click-drag-button--background-color);
      cursor: grab;
      opacity: 1;
      transition: transform var(--#{$prefix}transition-speed);

      &:hover {
        transform: translateY(-50%) scale(1.15);
      }
  
      &:active {
        background-color: var(--#{$prefix}click-drag-button--background-color--active);
        cursor: grabbing;
      }
    }
  }
}
