@import "base/variables";
@import "base/types";
@import "../../fonts/visual-debugger-icons/style.scss";

%instance-selected {
  opacity: 1;
}

.visual-debugger {

  // Controller.
  &--controller-layer {
    background-color: white;
    border-radius: 0;
    bottom: 0;
    box-shadow: $shadow--full;
    font-size: $controller--font-size;
    max-width: $controller--max-width;
    min-width: $controller--min-width;
    padding: $controller--gutter;
    position: fixed;
    right: 0;
    top: 0;
    z-index: $z-index--controller;

    h1, h2, h3, h4 {
      margin-bottom: $controller--gutter * .5 !important;
      margin-top: $controller--gutter * .5 !important;
    }

    h3 {
      font-size: $controller--font-size--title;
    }

    input[type="checkbox"] {
      cursor: pointer;
      height: 1.5rem;
      width: 1.5rem;
    }

    label {
      cursor: pointer;
    }

    pre {
      border: solid 1px $color--instance-border;
      margin: 0;
      overflow: hidden;
      padding-left: $controller--gutter * .5;
      padding-right: $controller--gutter * .5;
      transition: .25s all;

      &:hover {
        background-color: rgba($color--instance-background--hover, $transparency--instance-background--hover);
        box-shadow: $shadow--full;
      }
    }

    &--activation-form {
      background-color: var(#{$prefix}color--white);
      margin-left: $controller--gutter * -1;
      margin-top: $controller--gutter * -1;
      padding: $controller--gutter * .5
    }
  }

  // Base layer.
  &--base-layer {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;
    // display: none;

    body.visual-debugger--deactivated & {
      display: none;
      pointer-events: none;
    }
  }

  // Instance layer.
  &--instance-layer {
    background-color: rgba($color--instance-background, $transparency--instance-background);
    background-blend-mode: difference;
    border: solid 1px $color--instance-border;
    position: absolute;
    transition: .25s all;

    input[type='checkbox'] {
      margin: $controller--gutter * .5;
      pointer-events: none;
      transition: .25s all;
    }

    &:hover {
      background-color: rgba($color--instance-background--hover, $transparency--instance-background--hover);
      box-shadow: $shadow--full;

      input[type='checkbox'] {
        @extend %instance-selected;
      }
    }

    &--checked {
      input[type='checkbox'] {
        @extend %instance-selected;
      }
    }

    &--unchecked {
      input[type='checkbox'] {
        opacity: 0;
      }
    }
  }

  &--selected-element-layer {

    // Info.
    &--info {
      .tag {
        background-color: var(--#{$prefix}color--object-type);
        color: $color--white;
        display: inline-block;
        padding: $controller--gutter * .25;
      }
    }

    // Suggestions.
    &--suggestions {
      .suggestion {
        align-items: center;
        column-gap: $controller--gutter * .25;
        display: flex;
        flex-direction: row;
        margin-bottom: $controller--gutter * .25;
        margin-top: $controller--gutter * .25;

        button {
          background-color: transparent;
          border: 0;
          cursor: pointer;
          transition: .25s all;

          &:hover {
            transform: scale(1.25);
          }
        }
      }
    }
  }

  .object-type {
    &--page {
      background-color: rgba(#ffc, $transparency--instance-background);
    }

    &--block {
      background-color: rgba(green, $transparency--instance-background);
    }
  }

  // Click-drag button.
  .click-drag-button {
    background-color: $click-drag-button--background-color;
    border: $click-drag-button--border;
    border-radius: 50%;
    cursor: grab;
    height: $click-drag-button--size;
    left: $click-drag-button--size * - .5;
    position: absolute;
    top: 50%;
    transform-origin: center center;
    transform: translateY(-50%);
    transition: all .25s;
    width: $click-drag-button--size;
    z-index: $z-index--instance;

    &:hover {
      transform: translateY(-50%) scale(1.15);
    }

    &:active {
      background-color: $click-drag-button--background-color--active;
      cursor: grabbing;
    }
  }

  // Icon font.
  [class^="icon-"], [class*=" icon-"] {
    font-size: $icon-font-size;
  }

  .icon-selected-true {
    color: $color--icon--selected-true;
    font-size: $icon-font-size--large;
  }

  .icon-selected-false {
    color: $color--icon--selected-false;
    font-size: $icon-font-size--large;
  }

  .icon-slide-resize {
    font-size: $icon-font-size--large;
  }
}
