$icomoon-font-family: "visual-debugger-icons" !default;
$icomoon-font-path: "fonts" !default;

$icon-selected-false: unquote('"\\e901"');
$icon-selected-true: unquote('"\\e902"');
$icon-copy: unquote('"\\e900"');

